@import '../../../assets/css/admin.scss';

.sidebar{
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    @media only screen and (max-width:600px) {
      height: calc(100vh - 6.8rem);
    }

    background: url('../../../assets/generales/nav-bar.png');

    &_link{
        display: flex;
        align-items: center;
        height: 6rem;
        color: #FFFFFF;
        font-family: 'Roboto';
        font-size: 1.2rem;
        font-weight: 200;
        cursor: pointer;
    }

    &_logo{
        margin: 3rem 0 3rem 2rem;
        img{
            width: 15rem
        }
    }

    &_icon{
        width: 3rem;
        height: 3rem;
        margin: 0 1.5rem;
    }

    &_container{
        flex: 1 1 auto;
    }

    &_bottom{
        margin-top: auto;
    }

    &_active{
        background-color: rgba(#A37B52, 0.5);
    }
}

.add-class{
    background-color: #A37B52;
    white-space: nowrap;
    border-radius: 6px;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 1.25px;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 0;
    width: 80%;
    margin: 1rem auto;
    cursor: pointer;
}

.kpi{
    width: 2rem !important;
    margin-left: 2rem !important;
    height: 2rem !important;
}