$brown-light:         #eee6dd;    
$brown-medium:        #a47b52;
$brow-dark:           #8b5b2a;


$white:               #ffffff;
$gray-extra-light:    #f2f2f2;
$gray-light:          #c8c8c8;
$gray-extra-medium:   #868686;
$gray-medium:         #636060;
$gray-dark:           #191919;
$gray-extra-dark:     #111111;
$dark:                #000000;



$error:               #fc2249;
$success:             #2bca14;


