<section class="black-container concept-container">
  <div class="container">
    <div class="title-line">
      <h2 class="title-line__secondary">Conceptos</h2>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-4 mobile-margin-top">
        <div class="concept-card">
          <div class="concept-card__photo">
            <picture>
              <img class="img-fluid" src="/assets/home/conceptos/cycling.jpg" />
            </picture>
          </div>
          <div class="concept-card__description">
            <div class="title-line">
              <h3 class="title-line__secondary">Indoor Cycling</h3>
            </div>
            <!-- <p>
              Indoor cycling acompañado de Funcional y yoga para unificar todos los factores de nuestra conciencia,
              vivir el presente, reconocer tu importancia y confiar en ti mismo
            </p> -->
            <div class="concept-card__btn">
              <a
                class="btn btn-light"
                [routerLink]="['/carpe/book', 'Indoor Cycling']"
                ><span class="texty_concept">Reserva tu clase</span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-4 mobile-margin-top">
        <div class="concept-card">
          <div class="concept-card__photo">
            <picture>
              <img class="img-fluid" src="/assets/home/conceptos/yoga.jpg" />
            </picture>
          </div>
          <div class="concept-card__description">
            <div class="title-line">
              <h3 class="title-line__secondary" style="font-family: 'Avenir'">
                Yoga
              </h3>
            </div>
            <!-- <p>
            Conjunto de técnicas de concentración que se practican para conseguir un mayor control físico y mental.
          </p> -->
            <div class="concept-card__btn">
              <a class="btn btn-light" [routerLink]="['/carpe/book', 'Yoga']"
                ><span class="texty_concept">Reserva tu clase</span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-4 mobile-margin-top">
        <div class="concept-card">
          <div class="concept-card__photo">
            <picture>
              <img
                class="img-fluid"
                src="/assets/home/conceptos/meditacion.jpg"
              />
            </picture>
          </div>
          <div class="concept-card__description">
            <div class="title-line">
              <h3 class="title-line__secondary">Funcional</h3>
            </div>
            <!-- <p>
                  Ejercicio mental que incluye métodos creados para impulsar la relajación, elevar la
                  energía interna o la fuerza de vida y aumentar la paciencia, el amor, la compasión, la
                  generosidad y el perdón.
              </p> -->
            <div class="concept-card__btn">
              <a
                class="btn btn-light"
                [routerLink]="['/carpe/book', 'Funcional']"
                href=""
                ><span class="texty_concept">Reserva tu clase</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
