@import '../../../assets/css/admin.scss';

.users-search-control {
  form {
    display: flex;
    flex-wrap: nowrap;

    & > * {
      flex: 1;
    }

    &:nth-child(2) {
      max-width: 150px;
    }

    .btn-gold.add-user {
        max-width: 210px;
    }
  }
}
