
  
  a {
    text-decoration-line: none;
    color: inherit;
  }
  
  p {
    color: #252631;
    font-family: 'Avenir';
    font-size: 1.2rem;
    font-weight: 300;
  }
  
  h2 {
    color: #1B1E24;
    font-family: 'Avenir' ;
    font-size: 2rem;
    font-weight: 500;
  }
  
  h3 {
    color: #1B1E24;
    font-family: 'Avenir';
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }
  
  
  ul {
    list-style-type: none;
  }
  
  table{
    width: 100%;
  }
  
  .table {
    width: 100%;
  
    //Table
    &-icon {
      width: 2rem;
      margin: 0 1rem;
      float: right;
      cursor: pointer;
    }
  
    &-img {
      width: 4rem;
      height: 4rem;
      margin-right: 1rem;
  
      &_container {
        display: flex;
        align-items: center;  
        padding: 1rem !important;
      }
    }
  
    @media only screen and (max-width: 800px) {
      &_responsive {
        width: 80vw !important;
        overflow-x: scroll !important;
      }
    }
  }


.input {
    background-color: #FFFFFF;
    border: 1px solid #191919;
    height: 5rem;
    font-family: 'Avenir-Medium';
    padding: 2rem;
    margin-bottom: 1rem;
    width: calc(100% - 1rem);
    color: #A47B51;
    font-size: 1.4rem;
    transition: all 0.3s ease;
  
    &_file {
      opacity: 0;
      padding: 3rem;
      position: absolute;
      width: 9%;
    }
  
    &:focus {
      border: 1px solid #A47B51;
    }
  
    &::placeholder {
      color: #C8C8C8;
      font-family: 'Avenir-Medium';
      font-size: 1.4rem;
      font-weight: 500;
      letter-spacing: 0.25px;
    }
  
    &::-webkit-input-placeholder {
      font-family: 'Avenir-Medium';
      font-size: 1.4rem;
      font-weight: 500;
      letter-spacing: 0.25px;
    }
  
    &::-moz-placeholder {
      font-family: 'Avenir-Medium';
      font-size: 1.4rem;
      font-weight: 500;
      letter-spacing: 0.25px;
    }
  
    &:-ms-input-placeholder {
      font-family: 'Avenir-Medium';
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.25px;
    }
  }
  
  .invalid {
    border: 1px solid #E91852;
    color: #E91852;
  }


//pickadate
.picker__select--year,
.picker__select--month {
  border: 1px solid #b7b7b7;
  height: 2.5em;
  padding: .5em;
  margin-left: .25em;
  margin-right: .25em;
}

select {
  background: #ffffff;
}

.select {
  background-color: #FFFFFF;
  border: 1px solid #E8ECEF;
  border-radius: 4px;
  color: #000;
  font-family: 'Roboto';
  font-size: 1.4rem;
  padding: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 5px;
  width: calc(100% - 1rem);
  transition: all 0.3s ease;

  &:active {
    color: #A37B52;
    border: 1px solid #A37B52;
  }
}

.mat-form-field {
  width: 95%;
  font-size: 1.4rem;
}


.color-select {
  border-radius: 4px;
  width: 20px;
  height: 20px;
  margin: 0 2px;
  display: inline-block;
  border: 1px solid #252631;
}

// btn

.btn {
  cursor: pointer;
  font-family: 'Avenir';

  &_login {
    background-color: #F9F9F9;
    border: 1px solid #191919;
    color: #191919;
    width: calc(100% - 1rem);
    margin: 2rem 0;
    padding: 1.5rem 3rem;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: -5px 5px 1px 0px rgb(200, 200, 200);
    cursor: pointer;
    transition: 0.3s all;

    &:hover {
      background-color:  #A37B52;
      color: #F9F9F9;
    }


  }

  &_gold {
    color: #fff !important;
    padding: 5px 5rem !important;
    margin: 1rem !important;
    text-transform: uppercase !important;
  }

  &_white {
    color: #98A9BC !important;
    border: 1px solid #98A9BC !important;
    padding: 5px 5rem !important;
    margin: 1rem !important;
    text-transform: uppercase !important;
  }

  &_whiteNgold {
    color: #A37B52 !important;
    border: 1px solid #A37B52 !important;
    padding: 3px 3rem !important;
    margin: 1rem !important;
    text-transform: uppercase !important;
    font-size: 1.2rem !important;
  }
}



.btn-gold {
  height: max-content;
  color: #FFFFFF !important;
  font-family: Roboto;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 3px 4rem !important;
  background-color: #A37B52 !important;
  border-radius: 4px !important;
  text-transform: uppercase;
  cursor: pointer !important;

  &_plus {
    margin-right: 1rem;
    line-height: 1px;
    font-size: 2rem;
  }
}



.email-text {
  font-family: Roboto;
  font-size: 1.4rem;
  font-weight: 400;
  color: #98a9bc;
}


//BOX LAYOUT
.content {
  background-color: rgba(#EEE6DD, 0.2);
  position: relative;
  height: 100%;
  display: block;
  padding: 2rem;
}

.box {
  background-color: #fff;
  border-radius: 4px;
  height: inherit;
  max-height: calc(100% - 50px);

  &_content {
    height: 100%;
    width: 100%;
  }

  &_brown {
    display: block;
    padding: 2rem;
    margin: 3rem;
    background-color: #FCFAF8;
    border: 1px solid #DACABA;
    border-radius: 4px;
  }

  &_title {
    color: #252631;
    font-family: Roboto;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 4rem;
  }

  &_text {
    color: #98A9BC;
    font-family: Roboto;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 1rem 0;
  }
}

.right-border {
  border-right: 1px solid #E8ECEF
}


// progress Bars

.green-progress .mat-progress-bar-fill::after {
  background-color: #28C76F !important;
}

.brown-progress .mat-progress-bar-fill::after {
  background-color: #A47B51 !important;
}

.red-progress .mat-progress-bar-fill::after {
  background-color: #EA5455 !important;
}

.purple-progress .mat-progress-bar-fill::after {
  background-color: #7467F0 !important;
}

.aqua-progress .mat-progress-bar-fill::after {
  background-color: #54EADE !important;
}

.blue-progress .mat-progress-bar-fill::after {
  background-color: #346FF1 !important;
}


.orange-progress .mat-progress-bar-fill::after {
  background-color: #FF9F43 !important;
}

// TABS COLOR
.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  width: 80px;
  background-color: #000;
}

//Calendar
.fc-event {
  font-size: 1.2rem;
  padding: 3px 2px;
}


.more{
  position: absolute;
  margin: 1;
  top: 48px;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
  border: solid 1px #e8ecef;
  background-color: #ffffff;
  z-index: 1;
  li{
    padding: 1rem;
    font-family: Roboto;
    font-size: 1.2rem;
    color: #93a8b3;
    cursor: pointer;
  }
}