@import '../../../assets/css/user.scss';
@import '../../../../node_modules/bootstrap/scss/bootstrap.scss';

.container{
    padding-top: 100px;
}

form{
    margin-top: 50px;
}

.btn{
    margin-bottom: 100px;
}