<h2 mat-dialog-title>Aviso de privacidad</h2>
<mat-dialog-content class="mat-typography">
    <p> Zona Carpe Diem, S.A.P.I. de C.V. (en lo sucesivo “CARPE DIEM”) con domicilio en
    calle Av. Los Alpes 1240, Lomas de Chapultepec I Sección, C.P. 11000, Ciudad de
    México, Ciudad de México, México, en cumplimiento a la Ley Federal de Protección de
    Datos Personales en Posesión de los Particulares, su reglamento, lineamientos y
    demás disposiciones relativas y aplicables (en adelante de manera conjunta “La Ley”),
    es responsable del uso, almacenamiento y protección de los datos personales, que le
    sean proporcionados, y al respecto le informa lo siguiente: </p>
    <p>
    Los datos personales que sean proporcionados por cualquier cliente o público en
    general (en lo sucesivo “El Titular”) a CARPE DIEM tendrán el uso que en forma
    enunciativa más no limitativa se describe a continuación:
    </p>
    <p>
    Su información personal será tratada para: realizar su registro como cliente; para
    análisis y elaboración de estadísticos de carácter interno, así como para
    ofrecerle, en su caso, otros productos de CARPE DIEM y establecer un contacto
    más cercano con los usuarios y/o visitantes del Portal y los clientes de CARPE
    DIEM, para cualquier tema de interés; acceder a información contenida en El
    Portal; proporcionar materiales propiedad de CARPE DIEM; evaluar la calidad de
    los servicios; Recolectar información derivada de los gustos y preferencias de los
    servicios adquiridos; y establecer un contacto más cercano con los usuarios y/o
    visitantes del Portal y los clientes de CARPE DIEM, para cualquier tema de
    interés.
    </p>

    <p>Dicha información derivada, al igual que la Información proporcionada, podrá ser
    utilizada para diversos objetivos comerciales, como lo es el proporcionar datos
    estadísticos, enviar publicidad al Titular de acuerdo a sus intereses específicos,
    conducir investigaciones de mercadeo, y otras actividades o promociones que CARPE
    DIEM considere convenientes.</p>
    <p>El Titular podrá: i) conocer los datos personales que posea CARPE DIEM y los detalles
    del su tratamiento; ii) Rectificar sus datos personales en caso de ser inexactos; iii)
    Cancelar el tratamiento de los datos personales cuando considere que resultan ser
    excesivos o innecesarios para las finalidades que justificaron su obtención; y iv)
    Oponerse al tratamiento de sus datos personales para fines específicos.
    Para conocer mayor información sobre los términos y condiciones en que serán
    tratados sus datos personales y la forma en que podrá ejercer sus derechos ARCO,
    consulte el aviso de privacidad integral en la página web Página web:</p>
    www.carpe-diem.mx

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Aceptar</button>
</mat-dialog-actions>
