<h2 mat-dialog-title>Términos y condiciones</h2>
<mat-dialog-content class="mat-typography">
  <p style="font-weight: bold">LOS PRESENTES TÉRMINOS Y CONDICIONES TIENEN CARÁCTER OBLIGATORIO Y
    VINCULANTE PARA TODO USUARIO DEL SITIO WEB “CARPE-DIEM”, LA PERSONA QUE NO
    ESTÉ DE ACUERDO CON LOS MISMOS DEBERÁ ABSTENERSE DE UTILIZARLOS.
    TÉRMINOS Y CONDICIONES DE USO</p>


  <p>
    Los presentes términos y condiciones generales de uso (los “Términos y Condiciones”)
    regulan el acceso y/o uso del sitio web www.carpe-diem.mx (en adelante, el “Sitio Web”)
    propiedad de ZONA CARPE DIEM, S.A.P.I. de C.V., (En lo sucesivo “CARPE-DIEM”) sociedad
    mexicana, legalmente constituida conforme a las leyes de los Estados Unidos Mexicanos,
    con domicilio social en [*], Ciudad de México.
  </p>

  <p>
    <strong>1. LOS SERVICIOS</strong> <br>
    Los servicios constituyen el acceso y/o uso del Sitio Web con la finalidad que los Usuarios
    conozcan la disponibilidad de horarios, ubicación y reserven la asistencia a sesiones de
    ejercicios de alto rendimiento (en lo sucesivo, los “Servicios”), mediante el uso de
    aparatos de primer nivel.
    Una vez realizada la reservación, el Usuario deberá trasladarse por sus propios medios a la
    sucursal elegida con anticipación de cuando menos 5 minutos al horario programado en el
    portal.
  </p>


  <p>
    <strong>2. VINCULACIÓN</strong> <br>
    Estos Términos y Condiciones tienen carácter obligatorio y vinculante a todo Usuario del
    Sitio Web, por tanto cualquier persona que acceda y/o use el Sitio Web, acepta
    tácitamente en todas y cada una de sus partes los Términos y Condiciones aquí
    establecidos, atribuyendo a quien lo haga la calidad de Usuario.
    Los Servicios serán proporcionados en los Estados Unidos Mexicanos, exclusivamente a
    Usuarios registrados, residentes en este país. Aquellos Usuarios que residan o se
    encuentren domiciliados en cualquier otro lugar y que decidan acceder y/o utilizar los
    Servicios lo harán bajo su propia responsabilidad y riesgo, debiéndose asegurar que tal
    acceso y/o utilización cumple con la legislación local aplicable, acordando someterse a
    estos Términos y Condiciones y a las leyes aplicables en la Ciudad de México, renunciando
    a cualquier otra legislación o fuero, que por razón de su nacionalidad o domicilio pudiere
    llegar a corresponderles.
    Mediante la aceptación de estos Términos y Condiciones, el Usuario declara: (i) Que ha
    leído y comprende el alcance legal de lo establecido en estos Términos y Condiciones; (ii)
    Que es una persona con capacidad plena y mayoría de edad para contratar conforme a la
    legislación de los Estados Unidos Mexicanos; (iii) No haber sido previamente suspendido
    y/o inhabilitado temporal o definitivamente, para usar los Servicios; y (iv) Que es su
    voluntad obligarse conforme a lo previsto en este documento.
    Las personas que no tengan capacidad legal para contratar, no podrán utilizar los
    Servicios, comprendiendo incapaces, menores de edad y/o quienes hayan sido
    suspendidos o inhabilitados por CARPE-DIEM para utilizar los Servicios. Asimismo, no
    podrán acceder o usar los Servicios, aquellas personas que no acepten los Términos y
    Condiciones.
  </p>

  <p> <strong>3. MODIFICACIONES.</strong> <br>
    CARPE-DIEM se reserva el derecho de modificar a su entera discreción los Términos y
    Condiciones y/o a suspender y/o cambiar y/o a dar por terminados los Servicios, lo que
    notificará oportunamente, a través del Sitio Web.
    CARPE-DIEM se reserva el derecho de realizar, en cualquier momento y sin necesidad de
    previo aviso, cualquier modificación o actualización de sus contenidos y servicios en
    general, así como de cuantos elementos integren el diseño y configuración del Sitio Web y
    de las correspondientes condiciones de acceso y uso. </p>

  <p> <strong>4. ACCESO A LA PÁGINA WEB.</strong> <br>
    El acceso al Sitio Web es gratuito, salvo en lo relativo al coste de la conexión a través de la
    red de telecomunicaciones suministrada por el proveedor de acceso contratado (ISP) por
    el Usuario, que estará a su exclusivo cargo sin responsabilidad alguna para CARPE-DIEM. </p>

  <p> <strong>5. CUENTA DE USUARIO.</strong> <br>
    El acceso a todo el contenido del Sitio Web y los Servicios, estará sujeto al registro del
    Usuario mediante la cumplimentación del correspondiente formulario de inscripción y
    registro (“Formulario de Registro”), que será facilitado al Usuario.
    El Formulario de Registro requiere que comunique a CARPE-DIEM información personal:
    nombre, dirección, número de teléfono móvil, así como por lo menos un método de pago
    válido (en adelante los “Datos Personales”). El tratamiento que CARPE-DIEM dará a los
    Datos Personales proporcionados a través del Formulario de Registro podrá ser
    consultado en el Aviso de Privacidad puesto a disposición del Usuario en
    www.carpe-diem.mx/avisodeprivacidad.
    Cuando así sea requerido, el Usuario deberá presentar los documentos que acrediten la
    veracidad de los datos proporcionados a CARPE-DIEM, quien podrá utilizar diversos
    medios para identificar a los Usuarios.
    Los Usuarios garantizan y responden, en cualquier caso, de la veracidad, exactitud,
    vigencia y autenticidad de los Datos Personales puestos a disposición de CARPE-DIEM, la
    contravención a lo dispuesto en el presente párrafo incluyendo no tener un método de
    pago válido o que el mismo haya vencido, podrá resultar en su imposibilidad para acceder
    y utilizar los Servicios.
    CARPE-DIEM se reserva el derecho de aceptar o rechazar libremente la solicitud de
    registro por parte del Usuario. Adicionalmente, podrá restringir, bloquear, suspender el
    acceso en caso de sospechar que la información no es correcta. </p>

  <p> <strong>6. ACCESO A LA CUENTA PERSONAL Y OBLIGACIÓN DE CONFIDENCIALIDAD DE LA
      CLAVE DE SEGURIDAD.</strong> <br>
    Una vez registrado, el Usuario tendrá acceso a una cuenta personal (la “Cuenta”)
    mediante el ingreso del nombre de usuario y clave de seguridad personal elegida (la
    “Clave de Seguridad”).
    La Clave de Seguridad es personal e intransferible por tanto el Usuario se obliga a
    mantener en estricta confidencialidad la misma. El Usuario será en todo caso responsable
    de toda actividad que ocurra en su Cuenta y se compromete por todo daño, perjuicio,
    lesión o detrimento que pudiera derivarse del uso indebido, así como de la cesión,
    revelación o extravío de la misma.
    CARPE-DIEM no será en ningún caso responsable del uso que el Usuario y/o terceros
    pudieran hacer del Sitio Web. En todo caso, cualesquiera operaciones realizadas antes de
    notificar a CARPE-DIEM de dicha situación se reputarán efectuadas por el Usuario, quien
    será responsable y pagará los gastos y/o daños que se deriven de cualquier acceso y/o uso
    no autorizado.
    CARPE-DIEM se reserva el derecho de rechazar y/o de cancelar un registro previamente
    aceptado, cuando a su sola discreción considere que no se ha dado cumplimiento a la
    totalidad de las obligaciones establecidas en los Términos y Condiciones, sin que esté
    obligado a comunicar o exponer las razones de su decisión y sin que ello genere derecho a
    indemnización o resarcimiento alguno a favor del Usuario alcanzado por dicha decisión. </p>

  <p> <strong>7. NORMAS GENERALES DE UTILIZACIÓN DE LA PÁGINA WEB.</strong> <br>
    Los Servicios proporcionados a través del Sitio Web se dirigen exclusivamente a personas
    mayores edad.
    El Usuario manifiesta, garantiza y declara que tiene la edad legal para celebrar un contrato
    vinculante, plenamente válido y eficaz, y que toda la información de registro que presenta
    es exacta, veraz y actualizada.
    El Usuario se obliga a utilizar la Página Web y todo su contenido y servicios conforme a lo
    establecido en las leyes aplicables y los presentes Términos y Condiciones, únicamente
    con las finalidades establecidas en el apartado denominado “LOS SERVICIOS”. Asimismo,
    se obliga a hacer un uso adecuado de los servicios y/o contenidos del Sitio Web y a no
    emplearlos para realizar actividades ilícitas o constitutivas de delito, que atenten contra
    los derechos de terceros y/o que infrinjan la regulación sobre propiedad intelectual e
    industrial, o cualesquiera otras normas del ordenamiento jurídico que puedan resultar
    aplicables.
    A título meramente enunciativo, y en ningún caso limitativo, el Usuario se compromete a:
    a) Acceder a la Página Web a través de los medios autorizados. (CARPE-DIEM no será
    responsable en caso de que el Usuario no disponga de un dispositivo compatible o
    haya descargado una versión incompatible con su dispositivo.). <br>
    b) Cubrir los costos que se generen de cada reservación de servicios que realice el
    Usuario; <br>
    c) No ceder o transferir de otro modo la Cuenta a cualquier otra persona o entidad; <br>
    d) No causar estorbos, molestias, incomodidades o daños a los bienes utilizados para la
    prestación de los Servicios propiedad de CARPE-DIEM o de terceros; <br>
    e) No hacer un uso no autorizado o fraudulento del Sitio Web; <br>
    f) Acceder o intentar acceder a recursos restringidos del Sitio Web; <br>
    g) Utilizar el Sitio Web con fines o efectos ilícitos, ilegales, contrarios a lo establecido en
    las presentes Términos y Condiciones; <br>
    h) Provocar daños el Sitio Web o en los sistemas de sus proveedores o de terceros; <br>
    i) Causar o lanzar cualquier programa o script con el objeto de extraer, indexar,
    analizar o de otro modo realizar prospección de datos de cualquier parte de los
    Servicios o sobrecargar o bloquear indebidamente la operación y/o funcionalidad de
    cualquier aspecto de los Servicios; <br>
    j) Intentar obtener un acceso no autorizado o dañar cualquier aspecto de los Servicios
    o sus sistemas o redes relacionados; <br>
    k) Intentar acceder, utilizar y/o manipular los datos de CARPE-DIEM; <br>
    l) No introducir o difundir contenidos o propaganda de carácter racista, xenófobo o, en
    general, discriminatorio, pornográfico, de apología del terrorismo o que atenten,
    vulneren o pudieren atentar o vulnerar los derechos humanos; <br>
    m) No introducir o difundir en la red programas de datos (virus y/o software nocivos)
    susceptibles a provocar daños en los sistemas informáticos de CARPE-DIEM, sus
    proveedores, terceros o, en general, cualquier ‘usuario de la red Internet; <br>
    n) No difundir, transmitir o poner a disposición de terceros cualquier tipo de
    información, elemento o contenido que atente contra los derechos fundamentales y
    las libertades públicas reconocidos constitucionalmente y en los tratados
    internacionales; <br>
    o) No difundir, transmitir o poner a disposición de terceros cualquier tipo de
    información, elemento o contenido que constituya publicidad ilícita o desleal; <br>
    p) No transmitir publicidad no solicitada o autorizada, material publicitario, "correo
    basura o spam", "cartas en cadena", "estructuras piramidales", o cualquier otra
    forma de solicitación, excepto en aquellas áreas (tales como espacios comerciales)
    que hayan sido exclusivamente concebidas para ello mediante una comunicación
    expresa de CARPE-DIEM, comunicada debida y oportunamente en el Sitio Web; <br>
    q) No introducir o difundir cualquier información y contenidos falsos, ambiguos o
    inexactos de forma que induzca a error a los receptores de la información; <br>
    r) No difundir, transmitir o poner a disposición de terceros cualquier tipo de
    información, elemento o contenido que suponga una violación de los derechos de
    propiedad intelectual e industrial, patentes, marcas o copyright que correspondan a
    CARPE-DIEM o a terceros; <br>
    s) No difundir, transmitir o poner a disposición de terceros cualquier tipo de
    información, elemento o contenido que suponga una violación del secreto de las
    comunicaciones y la legislación de datos de carácter personal y, en general, toda las
    normas jurídicas que regulen la protección y promoción del respeto a la vida privada
    e intimidad de las personas y sus familias; <br>
    t) No acudir a las instalaciones de CARPE DIEM en estado de ebriedad o bajo el influjo
    de drogas, enervantes o psicotrópicos, en cuyo caso podrá ser negado el acceso a los
    servicios, sin responsabilidad alguna. <br>
    El Usuario se obliga a sacar en paz y a salvo y a indemnizar a CARPE-DIEM ante cualquier
    posible reclamación, multa, pena, sanción o indemnización de cualquier naturaleza,
    derivada del incumplimiento por parte del Usuario de cualquiera de las normas de uso
    antes indicadas, reservándose, además, CARPE-DIEM el derecho a solicitar la
    indemnización por daños y perjuicios que corresponda.
    Asimismo, CARPE-DIEM se reserva el derecho de anular la Cuenta de aquellos Usuarios
    que hagan un uso inapropiado del Sitio Web o no respeten las observaciones y
    prohibiciones previstas por estos Términos y Condiciones. </p>

  <p> <strong>8. CONTENIDO PROPORCIONADO POR EL USUARIO. </strong><br>
    El Sitio Web, facilita al Usuario el acceso a diversos contenidos, información y datos
    proporcionados por CARPE-DIEM en relación con los Servicios (en adelante, los
    “Contenidos”)
    El Usuario permite a CARPE-DIEM enviar, cargar, publicar o de otro modo poner a su
    disposición a través de los Servicios, contenido e información de texto, incluidos
    comentarios y opiniones relativos a los Servicios e iniciación de peticiones de apoyo. Todo
    Contenido facilitado por el Usuario seguirá siendo propiedad del Usuario. No obstante lo
    anterior, al proporcionar Contenido a CARPE-DIEM, el Usuario otorga una licencia gratuita,
    perpetua, irrevocable, transferible, libre de regalías, con derecho a usar, copiar, modificar,
    crear obras derivadas, distribuir, exhibir públicamente, presentar públicamente o de otro
    modo explotar de cualquier manera dicho Contenido de Usuario en todos los formatos y
    canales de distribución, sin más aviso o consentimiento que el establecido en el presente
    documento. CARPE-DIEM podrá, a su sola discreción y en cualquier momento y por
    cualquier motivo, sin avisarle previamente, revisar, controlar o eliminar Contenido de
    usuario, sin estar obligada a ello. </p>

  <p> <strong>9. CONDICIONES DE PAGO Y FACTURACIÓN</strong> <br>
    El uso o reserva de los Servicios puede derivar en cargos (“Cargos”). Los Cargos aplicables
    a los Servicios serán cobrados por CARPE-DIEM de forma automática, una vez que el
    Usuario otorgue su consentimiento al momento de reservar la clase que elija. Los Cargos
    aplicables se realizarán a la tarjeta de crédito y/o débito y/o cualquier otra forma de pago
    aceptada por CARPE-DIEM via OpenPay y/o Clip, que en su caso el Usuario haya
    proporcionado en el Formulario de Registro.
    Los Cargos incluirán los impuestos aplicables cuando se requiera por ley. Los Cargos son
    definitivos y no reembolsables, a menos que CARPE-DIEM determine lo contrario. Si se
    determina que el método de pago de la Cuenta principal ha caducado, es inválido o de
    otro modo no sirve para realizar el cobro, el Usuario acepta que CARPE-DIEM, utilice un
    método de pago secundario en la Cuenta, si estuviera disponible y en su caso CARPE-DIEM
    podrá, a su sola discreción, reservarse el derecho de otorgar el Servicio.
    El Usuario podrá optar por cancelar su solicitud para la prestación de los Servicios en
    cualquier momento, en cuyo caso se le podrá cobrar una tasa/cuota de cancelación.
    El Usuario está obligado a visitar el Sitio Web para conocer cualquier modificación a las
    condiciones o tarifas. Asimismo, todas las promociones y descuentos, así como sus
    condiciones de uso, estarán disponibles en el Sitio Web.
    CARPE-DIEM podrá proporcionar a determinados usuarios ofertas promocionales y
    descuentos por compra en volumen y/o referencia a Usuarios que pueden resultar en el
    cobro de diferentes importes por estos o similares servicios o bienes obtenidos a través
    del uso de los Servicios, el Usuario acepta que dichas ofertas promocionales y descuentos,
    a menos que también se pongan a su disposición, no se tomarán en cuenta en el uso por
    su parte de los Servicios o los Cargos aplicados.
    CARPE-DIEM se reserva el derecho a restringir el uso y a recuperar el importe de las
    promociones, invitaciones y descuentos a aquellos Usuarios que hagan un uso
    inadecuado, ilícito o abusivo de los mismos.
    Está prohibido que un Usuario cree diferentes Cuentas o comparta un método de pago
    electrónico con otros Usuarios con el fin de beneficiarse indebidamente de descuentos e
    invitaciones, lo cual se considera un uso abusivo de las mismas. Las invitaciones y
    descuentos perderán su valor a los [tres meses de su creación]. Por último, el valor de las
    invitaciones o descuentos podrá estar limitado por tiempo o número de reservaciones.
    Con arreglo a lo dispuesto en la Política de Privacidad, los datos de la tarjeta de crédito y/o
    debito facilitados en el Formulario de Registro serán remitidos a la empresa proveedora
    de pagos y encargada de almacenar dichos datos del Usuario. El Usuario deberá acceder o
    podrá ser redirigido al sitio Web del proveedor de pagos a través del enlace facilitado al
    efecto en el Formulario de Registro. Asimismo, conforme a lo previsto en la Política de
    Privacidad, los datos bancarios del Usuario a los que CARPE-DIEM tenga acceso serán
    tratados mediante el uso e implementación de medidas de seguridad, con el fin de
    impedir cualquier daño, perdida, alteración, destrucción, uso, acceso o tratamiento no
    autorizado, sin que CARPE-DIEM sea responsable en caso de cualquier acto llevado a cabo
    por terceros, comprendiendo, de manera enunciativa, mas no limitativa, violación de las
    medidas de seguridad establecidas por CARPE-DIEM o el tercero proveedor del sistema de
    pagos.
    Cuando el Usuario requiera facturar, deberá solicitarlo a través del Sitio Web, según sea
    determinado por CARPE-DIEM, proporcionando la información y documentación que
    CARPE-DIEM requiera. Toda factura deberá ser solicitada a más tardar el día 25 del mes en
    el que se haga el Cargo. </p>

  <p> <strong>10. LIMITACIÓN DE RESPONSABILIDAD.</strong> <br>
    Los Servicios se proporcionan “tal cual” y “como disponibles”. CARPE-DIEM renuncia a
    toda declaración y garantía, expresa, implícita o estatutaria, no expresamente establecida
    en estas condiciones.
    CARPE-DIEM no garantiza el acceso y uso continuo e ininterrumpido del Sitio Web. Los
    Servicios pueden eventualmente no estar disponibles debido a dificultades técnicas o
    fallas de internet, o por cualquier otra circunstancia ajena y no imputable a CARPE-DIEM;
    en tales casos se procurará restablecer los Servicios con la mayor celeridad posible sin que
    por ello pueda imputársele algún tipo de responsabilidad. CARPE-DIEM no será
    responsable por ningún error u omisión contenidos en la Página Web.
    Corresponde al Usuario, en todo caso, la disponibilidad de herramientas adecuadas para
    detectar y desinfectar programas informáticos dañinos.
    CARPE-DIEM no se responsabiliza de los daños o perjuicios de cualquier tipo producidos al
    equipos de cómputo o teléfonos inteligentes propiedad del Usuario a causa de fallos o
    desconexiones en las redes de telecomunicaciones que produzcan la suspensión,
    cancelación o interrupción de los servicios de la Página Web durante la prestación de
    estos.
    CARPE-DIEM no es responsable de la veracidad de los Datos Personales proporcionados
    por los Usuarios.
    LIMITACIÓN DE RESPONSABILIDAD
    CARPE-DIEM no será responsable de los perjuicios derivados o relacionados de cualquier
    uso de los Servicios de manera enunciativa más no limitativa de daños indirectos,
    incidentales, emergentes, la pérdida de datos, la lesión personal o el daño y/o perdida de
    la propiedad.
    LAS LIMITACIONES Y LA RENUNCIA EN ESTE APARTADO NO PRETENDEN LIMITAR LA
    RESPONSABILIDAD O ALTERAR SUS DERECHOS COMO CONSUMIDOR QUE NO PUEDAN
    EXCLUIRSE SEGÚN LA LEYES APLICABLES. </p>

  <p> <strong>11. TITULARIDAD DERECHOS DE PROPIEDAD INTELECTUAL E INDUSTRIAL </strong><br>
    El Usuario reconoce y acepta que todos los derechos de propiedad intelectual e industrial
    sobre los contenidos y/o cualesquiera otros elementos insertados en el Sitio Web
    (incluyendo, sin limitación, marcas, logotipos, nombres comerciales, textos, imágenes,
    gráficos, diseños, sonidos, bases de datos, software, diagramas de flujo, presentación,
    audio y vídeo), pertenecen a CARPE-DIEM. Los Servicios y todos los derechos relativos a
    Éstos son y permanecerán de la propiedad de CARPE-DIEM. Ninguna de estas Condiciones
    ni su uso de los Servicios le transfieren u otorgan ningún derecho: (i) sobre o en relación
    con los Servicios, (ii) a utilizar o mencionar en cualquier modo a los nombres de empresa,
    logotipos, nombres de producto y servicios. (iii) retirar cualquier nota de derechos de
    autor, marca registrada u otra nota de propiedad de cualquier parte de los Servicios; (iv)
    reproducir, modificar, preparar obras derivadas sobre los Servicios, distribuir, licenciar,
    arrendar, revender, transferir, exhibir públicamente, presentar públicamente, transmitir,
    retransmitir o explotar de otra forma los Servicios, excepto como se permita
    expresamente por CARPE-DIEM; (v) descompilar, realizar ingeniería inversa o desmontar
    los Servicios, excepto como se permita por la ley aplicable.
    CARPE-DIEM podrá cancelar las cuentas de aquellos Usuarios que infrinjan cualquier
    derecho de propiedad intelectual de terceros. CARPE-DIEM eliminará los materiales
    constitutivos de infracción de conformidad con la normativa vigente de propiedad
    intelectual e industrial si llega a conocer tal circunstancia. </p>

  <p> <strong>12. SANCIONES. </strong><br>
    Sin perjuicio de otras medidas, CARPE-DIEM podrá advertir, suspender en forma temporal
    o inhabilitar definitivamente la cuenta de un Usuario, iniciar las acciones que estime
    pertinentes y/o suspender la prestación de sus Servicios, si: (a) se quebranta o incumple
    alguna ley, o cualquiera de las estipulaciones de los Términos y Condiciones y demás
    políticas de CARPE-DIEM; (b) se incumple a las obligaciones como Usuario; (c) no pudiere
    verificarse la identidad del Usuario o cualquier información proporcionada por el mismo
    fuere errónea o falsa; o, (d) se incurriera a criterio de CARPE-DIEM en conductas o actos
    dolosos o fraudulentos; (e) no se cubran las cuotas procedentes por cualquier daño
    ocasionado a los bienes utilizados para la prestación de los Servicios propiedad de
    CARPE-DIEM o de terceros.
    Tarifa de reparación, perjuicio o limpieza.
    Cualquier daño y/o perjuicio (entendiéndose como tal de manera enunciativa mas no
    limitativa, roturas, golpes, rayones o cualesquiera que afecta, ensucie y/o altere cualquier
    parte interna o externa de los aparatos especializados para realizar ejercicios) que sea
    ocasionado por el Usuario de manera dolosa o culposa deberá ser cubierta
    inmediatamente por el Usuario.
    El Usuario autoriza a CARPE-DIEM a realizar cualquier descuento procedente conforme al
    párrafo anterior, a través del método de pago indicado por el Usuario en la Cuenta
    respectiva. </p>

  <p> <strong>13. INDEMNIZACIÓN.</strong> <br>
    El Usuario indemnizará y mantendrá en paz y a salvo a CARPE-DIEM, sus filiales, empresas
    controladas y/o controlantes, accionistas, directores, representantes y empleados, por
    cualquier reclamo o demanda de otros Usuarios o de terceros por sus actividades la
    Página Web, por el incumplimiento de los Términos y Condiciones, de las demás políticas
    que se entienden incorporadas al presente instrumento, incluyendo los honorarios
    razonables de abogados. </p>

  <p> <strong>14. NULIDAD E INEFICACIA DE LAS CLÁUSULAS.</strong> <br>
    Si cualquier cláusula incluida en los Términos y Condiciones fuese declarada total o
    parcialmente nula o ineficaz en alguna de las jurisdicciones en las que CARPE-DIEM tiene
    presencia, tal nulidad o ineficacia tan sólo afectará a dicha disposición o a la parte de la
    misma que resulte nula o ineficaz, subsistiendo los Términos y Condiciones en todo lo
    demás, considerándose tal disposición total o parcialmente no incluida o aplicable en
    aquella jurisdicción. </p>

  <p> <strong>15. PRIVACIDAD DE LA INFORMACIÓN. </strong><br>
    La información personal se procesa y almacena en servidores o medios magnéticos que
    mantienen altos estándares de seguridad y protección tanto física como tecnológica. Para
    mayor información sobre la privacidad de los Datos Personales y casos en los que será
    revelada la información personal, se puede consultar el Aviso de Privacidad disponible en
    www.carpe-diem.mx/avisodeprivacidad. </p>

  <p> <strong>16. LEGISLACIÓN APLICABLE Y JURISDICCIÓN COMPETENTE.</strong> <br>
    Estos Términos y Condiciones se regirán e interpretarán por la legislación federal vigente
    en los Estados Unidos Mexicanos, en particular respecto de mensajes de datos,
    contratación electrónica y comercio electrónico. Las partes acuerdan someterse a la
    jurisdicción exclusiva de los juzgados y tribunales de la Ciudad de México para la
    interpretación, alcance, cumplimiento o controversia derivada del presente documento o
    la relación entre las mismas. </p>

  <p>CONTÁCTANOS </p>

  <p>Contáctanos a hola@carpe-diem.mx para cualquier pregunta o comentario. </p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Aceptar</button>
</mat-dialog-actions>
