<div class="black-container intro-container about">
  <section class="container" style="margin-top: 7rem">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-9 col-lg-9">
        <h1 class="title-line__main text-left studio_title">
          Mindful training
        </h1>
        <p class="studio-page_text">
          Buscamos brindar un espacio integral donde cada persona se pueda
          desenvolver y vivir una experiencia de autoconocimiento y crecimiento.
          Como lo indica el nombre, viviremos el presente y aprovecharemos el
          ahora sin confiar en el mañana. El presente es de lo único que estamos
          seguros, lo único que podemos vivir y disfrutar; es realmente el único
          momento del cual podemos responsabilizarnos.
        </p>

        <p class="studio-page_text">
          Una espacio creado para un proceso introspectivo en donde la mente y
          el cuerpo se encuentran unificados el corazón y el alma en sintonía y
          el amor centrado en uno mismo. Nuestro factor diferenciador es
          reconocer que la conciencia corporal nace de la aceptación de la
          propia fragilidad de nuestra vida y la oportunidad del HOY para
          amarte, aceptarte, y brindarte la oportunidad de evolucionar y
          reconocer tu luz interior.
        </p>
      </div>
    </div>
  </section>
</div>

<section class="instructors-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-4">
        <div class="instructors-container__info">
          <p class="instructor-text">
            Indoor cycling acompañado de Funcional y yoga para unificar todos
            los factores de nuestra conciencia, vivir el presente, reconocer tu
            importancia y confiar en ti mismo.
          </p>
          <p class="instructor-text2">Empieza hoy, reserva una clase</p>
          <button class="btn btn-light btn-block">reserva tu clase</button>
        </div>
      </div>
      <div class="col-7">
        <div class="instructors-container__photo2">
          <div class="img-both">
            <img
              class="img-both__big"
              width="371"
              src="/assets/generales/extras.jpg"
              alt=""
            />

            <img
              class="img-both__small"
              width="351"
              src="/assets/generales/about1.jpg"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
