<footer class="footer-container">
  <div class="container">
    <p>Studio:</p>
    <div class="row">
      <div class="col-sm-12 col-md-4 mb-3 mb-md-0">
        <p>Palmas 781, Colonia Lomas de Chapultepec, 3ra sección.</p>
        <a href="mailto:hola@carpe-diem.mx">
          <img style="margin-right: 1rem" width="40" src="/assets/generales/mail.svg" alt="">
          hola@carpe-diem.mx
        </a>
      </div>
      <div class="col-sm-12 col-md-4 mb-3 mb-md-0">
        <a class="terms" (click)="openNotice()">Aviso de privacidad </a>
        <a class="terms" (click)="openTerms()">Términos y condiciones</a>
       
      </div>
      <div class="col-sm-12 col-md-4 mb-3 mb-md-0">
        <p>
          <a href="">BLOG</a>
          <a href="https://www.instagram.com/carpediem.mx/ " >INSTAGRAM</a>
          <a href="">SPOTIFY</a>
        </p>
        <a class="flex f-center" style="margin-top: 5px">
            <img width="40" style="margin-top: 10px;" src="/assets/generales/telefono.svg" alt="">

            &nbsp; (55) 17108252
          </a>
      </div>
    </div>
  </div>
</footer>
