<section class="instructors-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-7">
        <div class="instructors-container__photo2 img-gray">
          <img
            class="img-both__big"
            width="371"
            src="/assets/instructores/instructores-single/1.jpg"
            alt=""
          />
          <img
            class="img-both__small"
            width="351"
            src="/assets/instructores/instructores-single/2.jpg"
            alt=""
          />
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-5">
        <div class="instructors-container__description">
          <div class="title-line">
            <h3 class="title-line__secondary fonty">Instructores</h3>
          </div>
          <p class="fonty">
            Equipo de alta calidad - los mejores instructores de México
          </p>
          <div class="title-line">
            <h3 class="title-line__secondary fonty">regaderas y vestidores</h3>
          </div>
          <p class="fonty">Productos de alta calidad para que salgas listo.</p>
          <div class="title-line">
            <h3 class="title-line__secondary fonty">Mindful training</h3>
          </div>
          <p class="fonty">
            Indoor Cycling <br />
            Yoga<br />
            Funcional
          </p>
          <div class="title-line">
            <h3 class="title-line__secondary fonty">Healthy bar</h3>
          </div>
          <p class="fonty">
            Smoothies, bowls y snacks para antes o después de tu clase.
          </p>
          <div class="title-line">
            <h3 class="title-line__secondary fonty">ESTACIONAMIENTO</h3>
          </div>
          <p class="fonty">
            Estacionamiento Techado<br />
            Valet Parking <br />
            Parquímetros Cercanos
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
