// SHOE
@import '../../../assets/css/user.scss';
@import '../../../../node_modules/bootstrap/scss/bootstrap.scss';
// CALENDAR

.select-tennis{
    .icon-Tennis_Off{
        font-size: 63px;
        vertical-align: middle;
    }
    .title-line{
        margin-bottom: 20px;
    }
    .btn{
        margin-right: 20px;
        padding: 0;
    }
    &__step1{
        margin-bottom: 30px;
    }
    &__step2{
        margin-bottom: 50px;
    }
}


.noborder{
    border: none !important;
}

.active{
    background-color: #A37B52;
    color: #F9F9F9;
  }