<div *ngIf="loading || loadingForm" class="lds-ring abs-center">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>

<div *ngIf="!loading" class="content">
  <div class="add box">
    <form #f="ngForm" (ngSubmit)="createClass(f)">
      <div class="flex">
        <div class="add_form right-border">
          <h3 class="black-title">
            {{ edit ? "Edita" : "Agrega" }} clases a tu horario
          </h3>

          <div class="flex">
            <div class="f-80 instructor-box">
              <div class="flex">
                <div class="f-20 flex">
                  <img
                    [src]="image ? image : '/assets/icons/user.jpg'"
                    style="margin: auto; height: 60px"
                    alt=""
                  />
                </div>
                <div class="f-50 fm-100">
                  <mat-form-field
                    appearance="outline"
                    [hideRequiredMarker]="true"
                  >
                    <mat-label>Instructor</mat-label>
                    <mat-select
                      name="instructor"
                      [(ngModel)]="class.instructor"
                      (ngModelChange)="imageChange($event)"
                      required
                    >
                      <mat-option
                        *ngFor="let instructor of instructors"
                        [value]="{
                          $key: instructor.$key,
                          name: instructor.name + ' ' + instructor.last_name,
                          src: instructor.src
                        }"
                        >{{ instructor.name }}
                        {{ instructor.last_name }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div class="flex">
            <div class="f-50 fm-100">
              <mat-form-field appearance="outline" [hideRequiredMarker]="true">
                <mat-label>Clases</mat-label>
                <mat-select name="type" [(ngModel)]="class.type" required>
                  <mat-option value="Indoor Cycling">Indoor Cycling</mat-option>
                  <mat-option value="Yoga">Yoga</mat-option>
                  <mat-option value="Funcional">Funcional</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="f-50 fm-100">
              <mat-form-field appearance="outline" [hideRequiredMarker]="true">
                <mat-label>Ubicación</mat-label>
                <mat-select name="studio" [(ngModel)]="class.studio" required>
                  <mat-option>None</mat-option>
                  <mat-option value="Carso Palmas">Carso Palmas</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="flex" *ngIf="!edit">
            <div class="f-50 fm-100">
              <mat-form-field appearance="outline" [hideRequiredMarker]="true">
                <mat-label>Fecha</mat-label>
                <input
                  matInput
                  id="date"
                  name="date"
                  [(ngModel)]="class.date"
                  [matDatepicker]="picker"
                  (click)="picker.open()"
                  autocomplete="off"
                  [min]="today"
                  required
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="f-50 fm-100">
              <mat-form-field appearance="outline" [hideRequiredMarker]="true">
                <mat-label>Repetir</mat-label>
                <mat-select name="repeat" [(ngModel)]="class.repeat" required>
                  <mat-option value="Nunca">Nunca</mat-option>
                  <mat-option value="Cada dia">Cada día</mat-option>
                  <mat-option value="Todas las semanas"
                    >Todas las semanas</mat-option
                  >
                  <mat-option value="Cada dos semanas"
                    >Cada dos semanas</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="flex">
            <div class="f-50 fm-100">
              <mat-form-field appearance="outline" [hideRequiredMarker]="true">
                <mat-label>Alerta</mat-label>
                <mat-select name="alert" [(ngModel)]="class.alert" required>
                  <mat-option value="Sin alerta">Sin alerta</mat-option>
                  <mat-option value="A la hora del evento"
                    >A la hora del evento"</mat-option
                  >
                  <mat-option value="5 minutos antes"
                    >5 minutos antes</mat-option
                  >
                  <mat-option value="15 minutos antes"
                    >15 minutos antes</mat-option
                  >
                  <mat-option value="30 minutos antes"
                    >30 minutos antes</mat-option
                  >
                  <mat-option value="1 hora antes">1 hora antes</mat-option>
                  <mat-option value="2 horas antes">2 horas antes</mat-option>
                  <mat-option value="1 día antes">1 día antes</mat-option>
                  <mat-option value="2 días antes">2 días antes</mat-option>
                  <mat-option value="1 semana antes">1 semana antes</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="f-50 fm-100">
              <mat-form-field appearance="outline" [hideRequiredMarker]="true">
                <mat-label>Color</mat-label>
                <mat-select name="color" [(ngModel)]="class.color" required>
                  <mat-option value="#000000"
                    ><span
                      class="color-select"
                      style="background-color: #000000"
                    ></span>
                    Negro
                  </mat-option>
                  <mat-option value="#9437C8"
                    ><span
                      class="color-select"
                      style="background-color: #9437c8"
                    ></span>
                    Morado
                  </mat-option>
                  <mat-option value="#FF6400"
                    ><span
                      class="color-select"
                      style="background-color: #ff6400"
                    ></span>
                    Naranja</mat-option
                  >
                  <mat-option value="#6EC12D"
                    ><span
                      class="color-select"
                      style="background-color: #6ec12d"
                    ></span>
                    Verde
                  </mat-option>
                  <mat-option value="#0069F4"
                    ><span
                      class="color-select"
                      style="background-color: #0069f4"
                    ></span>
                    Azul
                  </mat-option>
                  <mat-option value="#FF00AD"
                    ><span
                      class="color-select"
                      style="background-color: #ff00ad"
                    ></span>
                    Rosa
                  </mat-option>
                  <mat-option value="#14B8DC"
                    ><span
                      class="color-select"
                      style="background-color: #14b8dc"
                    ></span>
                    Aqua
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="flex">
            <div class="f-50 fm-100">
              <mat-form-field appearance="outline" [hideRequiredMarker]="true">
                <mat-label>Hora de inicio</mat-label>
                <input
                  [ngxTimepicker]="startpicker"
                  matInput
                  name="start"
                  [(ngModel)]="class.start"
                  autocomplete="off"
                  required
                />
                <ngx-material-timepicker #startpicker></ngx-material-timepicker>
              </mat-form-field>
            </div>

            <div class="f-50 fm-100">
              <mat-form-field appearance="outline" [hideRequiredMarker]="true">
                <mat-label>Hora de fin</mat-label>
                <input
                  [ngxTimepicker]="endpicker"
                  matInput
                  name="end"
                  [(ngModel)]="class.end"
                  autocomplete="off"
                  required
                />
                <ngx-material-timepicker #endpicker></ngx-material-timepicker>
              </mat-form-field>
            </div>
          </div>

          <mat-form-field appearance="outline" [hideRequiredMarker]="true">
            <mat-label>Descripción de la clase</mat-label>
            <input
              name="description"
              [(ngModel)]="class.description"
              matInput
              placeholder="Se muestra en la página de detalles de la clase pública. Ponga la información / instrucciones de la clase aquí."
            />
          </mat-form-field>

          <div class="flex flex-end mar-t-2">
            <button
              *ngIf="edit"
              type="button"
              mat-button
              mat-raised-button
              class="btn_white"
              color="secondary"
              [routerLink]="['/admin/classes']"
            >
              Regresar
            </button>
            <button
              *ngIf="!edit"
              type="button"
              mat-button
              mat-raised-button
              class="btn_white"
              color="secondary"
            >
              Borrar
            </button>
            <button
              type="submit"
              mat-button
              mat-raised-button
              class="btn_gold"
              color="accent"
            >
              Guardar
            </button>
          </div>
        </div>

        <div class="add_side">
          <div class="settings">
            <div class="settings_box">
              <h5 class="settings_title">Configuraciones de reservaciones</h5>
              <mat-checkbox
                name="reservations"
                [(ngModel)]="class.reservations"
                class="mylabel"
                >Aceptar reservas para esta clase.</mat-checkbox
              >
              <mat-checkbox
                name="limitCheck"
                [(ngModel)]="class.limit"
                class="mylabel"
                >Limitar el número de reservas aceptadas.</mat-checkbox
              >
              <p class="settings_text">
                La clase está limitada a tantos estudiantes. Esto desactiva el
                formulario de reserva cuando alcanza su límite de clase
              </p>
              <mat-form-field
                *ngIf="class.limit"
                appearance="outline"
                [hideRequiredMarker]="true"
              >
                <mat-label>Cantidad de estudiantes</mat-label>
                <input
                  type="number"
                  name="limitNumber"
                  [(ngModel)]="class.limitNumber"
                  matInput
                />
              </mat-form-field>
              <mat-checkbox *ngIf="limit" class="mylabel"
                >Deje que las personas se inscriban en una lista de espera
              </mat-checkbox>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
